@font-face {
    font-family: "nanumBarunPen";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumBarunPen";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarunPen/nanumBarunPen-Bold.ttf") format("truetype");
    font-display: swap;
}
.nanumBarunPen {
    font-family: "nanumBarunPen";
}
.nanumBarunPen400 {
    font-family: "nanumBarunPen";
    font-weight: 400;
}
.nanumBarunPen700 {
    font-family: "nanumBarunPen";
    font-weight: 700;
}